@charset "UTF-8";
/*Color  theme*/
/*mixin*/
@-webkit-keyframes animatedown {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatedown {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 10;
    opacity: 1;
  }
}
/*media query breakpoint*/
.product-details_image {
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
}
.product-details_image .sticky-filter {
  position: sticky;
  top: 0px;
}
@media (max-width: 768px) {
  .product-details_image {
    width: 100%;
  }
}
.product-details_image img {
  width: 100px;
  height: auto;
  max-width: 100px;
  margin: 0 auto;
  border: 1px solid transparent;
}
@media (max-width: 768px) {
  .product-details_image img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .product-details_image {
    width: 100%;
  }
}
.product-details_image .product-image_nav {
  width: 100%;
  justify-content: center;
}
.product-details_image .product-image_nav .slick-current img {
  border: 1px solid #252525 !important;
}
.product-details_image .product-image_nav .slick-slide {
  margin: 5px 0px;
  cursor: pointer;
}
.product-details_image .product-image_nav .slick-track {
  align-items: center;
}
.product-details_image .product-image_nav .slick-prev, .product-details_image .product-image_nav .slick-next {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50px;
  box-shadow: 0px 3px 10px #767676;
}
.product-details_image .product-image_nav .slick-next::before {
  content: "";
  background-image: url(../images/next.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  margin: auto;
}
.product-details_image .product-image_nav .slick-prev:before, .product-details_image .product-image_nav .slick-next:before {
  font-family: "slick";
  font-size: 28px;
  line-height: 1;
  opacity: 1;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.product-details_image .product-image_nav .slick-prev::before {
  content: "";
  background-image: url(../images/prev.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  margin: auto;
}
.product-details_image .product-image_carousal {
  width: 100%;
  background-color: #fbfbfb;
  margin-bottom: 15px;
}
.product-details_image .product-image_carousal img {
  width: auto;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.product-details_content {
  display: inline-block;
  width: 55%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .product-details_content {
    width: 100%;
  }
}
.product-details_content .detail-content p {
  line-height: 1.5;
  color: #6e6e6e;
}
.product-details_content .detail-content .italic a {
  color: #787878;
  text-decoration: underline;
}
.product-details_content .detail-content .product-tag {
  position: relative;
  display: flex;
  padding: 10px 15px;
  border: 1px solid #CECECE;
  gap: 20px;
  align-items: center;
  align-content: space-around;
}
.product-details_content .detail-content .product-tag img {
  width: 100%;
  position: relative;
  height: auto;
  max-width: 35px;
}
.product-details_content .detail-content .product-tag p {
  color: #000;
}
.product-details_content .detail-content .accordion {
  color: #000;
  cursor: pointer;
  padding: 18px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: #fff;
  font-weight: 500;
}
.product-details_content .detail-content .active, .product-details_content .detail-content .accordion:hover {
  background-color: #f8fcfb;
}
.product-details_content .detail-content .accordion:after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.product-details_content .detail-content .active:after {
  content: "−";
}
.product-details_content .detail-content .panel {
  padding: 0px 20px;
  border-bottom: 1px solid #DFDFDF;
  max-height: 0;
  overflow: hidden;
  background-color: #f8fcfb;
  transition: max-height 0.2s ease-out;
}
.product-details_content .detail-content .panel .panel-content {
  padding: 10px 0px;
  font-size: 14px;
  line-height: 24px;
}
.product-details_content .detail-content .panel .panel-content ul {
  padding: 10px 0px;
  list-style: disc inside;
}
.product-details_content .detail-content .panel .panel-content ul li {
  font-size: 14px;
}
.product-details_content .review {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.product-details_content .review ul {
  display: flex;
  gap: 5px;
}
.product-details_content .review p {
  color: #787878;
}
.product-details_content .review p a {
  color: #000;
  text-decoration: underline;
}
.product-details_content .title {
  padding: 5px 0px 10px 0px;
}
.product-details_content .price-detail {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.product-details_content .price-detail .price {
  font-size: 18px;
  color: #05595B;
}
.product-details_content form {
  position: relative;
}
.product-details_content form .size-content {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}
.product-details_content form .quantity {
  padding: 15px 0px 0px 0px;
}
.product-details_content form .quantity .productQuantity {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #cac7c7;
  max-width: 150px;
}
.product-details_content form .quantity .productQuantity button, .product-details_content form .quantity .productQuantity input {
  position: relative;
  border: 0px;
  background-color: #fff;
  text-align: center;
}
.product-details_content form .quantity .productQuantity button:focus, .product-details_content form .quantity .productQuantity input:focus {
  outline: none;
}
.product-details_content form .quantity .productQuantity button {
  cursor: pointer;
  padding: 10px 15px;
}
.product-details_content form .quantity .productQuantity button:hover {
  background-color: #E7F6F2;
}
.product-details_content form .quantity .productQuantity input {
  width: 100%;
  padding: 10px;
}
.product-details_content form .color {
  position: relative;
  padding: 15px 0px 0px 0px;
}
.product-details_content form .color .swatches {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  gap: 10px;
  flex-wrap: wrap;
}
.product-details_content form .color .swatches .swatches-label {
  border-radius: 0px;
  width: 80px;
  height: 80px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  border: 1px solid #d7d7d7;
}
.product-details_content form .color .swatches .swatches-label:hover {
  border: 1px solid #05595B;
}
.product-details_content form .color .swatches .swatches-label img {
  width: 100%;
  height: auto;
}
.product-details_content form .color .swatches .swatches-label a {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product-details_content form .size {
  position: relative;
  padding: 15px 0px 0px 0px;
}
.product-details_content form .size .size_div {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 15px;
}
.product-details_content form .size .size_div .subtitle {
  padding-bottom: 0px;
}
.product-details_content form .size .size_div .size-check {
  color: #787878;
  text-decoration: underline;
  font-size: 14px;
}
.product-details_content form .size .size_div .size-check:hover {
  color: #000;
}
.product-details_content form .size .size-content {
  gap: 15px;
}
.product-details_content form .size .size-content .size-wrapper {
  position: relative;
  display: flex;
  height: auto;
  gap: 10px;
}
.product-details_content form .size .size-content .size-wrapper .active {
  border: 2px solid #05595B !important;
  background-color: #05595B !important;
}
.product-details_content form .size .size-content .size-wrapper .active a {
  color: #fff !important;
  font-size: 14px;
}
.product-details_content form .size .size-content .size-wrapper .size-label {
  border-radius: 50px;
  height: 32px;
  width: 32px;
  position: relative;
  border: 2px solid #CECECE;
  transition: 0.1s ease-in-out;
  background-color: #fff;
  font-size: 14px;
}
.product-details_content form .size .size-content .size-wrapper .size-label:hover {
  border: 2px solid #05595B;
  background-color: #05595B;
}
.product-details_content form .size .size-content .size-wrapper .size-label:hover a {
  color: #fff;
}
.product-details_content form .size .size-content .size-wrapper .size-label a {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #000;
}
.product-details_content form .size .size-content .size-wrapper .size-label img {
  width: 100%;
  height: auto;
}

.free-delivery {
  padding-top: 15px;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
}
.free-delivery .free-delivery_content p {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #787878;
}
.free-delivery .product-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.free-delivery .product-left .promo-tip {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: #fff;
  border-radius: 50px;
  border: 5px solid #05595B;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
  cursor: pointer;
  animation: pulse 1.5s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(5, 89, 91, 0.7);
    box-shadow: 0 0 0 0 rgba(5, 89, 91, 0.7);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(5, 89, 91, 0);
    box-shadow: 0 0 0 10px rgba(5, 89, 91, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(5, 89, 91, 0);
    box-shadow: 0 0 0 0 rgba(5, 89, 91, 0);
  }
}

.buy-wrapper {
  padding-top: 15px;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  gap: 30px;
}
@media (max-width: 768px) {
  .buy-wrapper {
    gap: 10px;
  }
}
.buy-wrapper .add-cart {
  width: 50%;
  box-sizing: border-box;
}
.buy-wrapper .add-cart button {
  font-size: 16px;
  color: #000;
  background-color: #E7F6F2;
  padding: 10px 15px;
  border: 1px solid #E7F6F2;
  font-weight: 500;
  width: 100%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.buy-wrapper .add-cart button:hover {
  border: 1px solid #05595B;
  color: #05595B;
  background-color: #fff;
}
.buy-wrapper .buy-now {
  width: 50%;
  box-sizing: border-box;
}
.buy-wrapper .buy-now button {
  font-size: 16px;
  color: #fff;
  background-color: #05595B;
  padding: 10px 25px;
  border: 1px solid #05595B;
  font-weight: 500;
  width: fit-content;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  transform-origin: left top;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.buy-wrapper .buy-now button:hover {
  color: #05595B;
  border: 1px solid #fff;
  background-color: #fff;
}

/*# sourceMappingURL=color-theme.css.map */
