.appear-delay-20{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.4s;}

.appear-delay-19{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.24s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.34s;}

.appear-delay-18{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.18s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.28s;}

.appear-delay-17{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.12s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.22s;}

.appear-delay-16{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.06s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.16s;}

.appear-delay-15{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s;}

.appear-delay-14{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.94s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.04s;}

.appear-delay-13{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.88s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.98s;}

.appear-delay-12{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.82s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.92s;}

.appear-delay-11{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.76s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.86s;}

.appear-delay-10{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;}

.appear-delay-9{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.64s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.74s;}

.appear-delay-8{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.58s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.68s;}

.appear-delay-7{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.52s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.62s;}

.appear-delay-6{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.46s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.56s;}

.appear-delay-5{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;}

.appear-delay-4{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.34s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.44s;}

.appear-delay-3{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.28s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.38s;}

.appear-delay-2{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.22s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.32s;}

.appear-delay-1{transition:transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s,opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;}


.js-drawer-close{
  -webkit-animation-name: shadow_back;
  -webkit-animation-duration: 0.8s;
  animation-name: shadow_back;
  animation-duration: 0.8s;
  transition: all 0.5s;
  width: 0px;
}
@-webkit-keyframes shadow_back {
  from {
  	left:0;
  	opacity:1;
  }
  to {
  	left: -250px;
  	opacity:0;
  }
} 
@-webkit-keyframes shadow_back {
  from {
  	left:0;
  	opacity:1;
  }
  to {
  	left: -250px;
  	opacity:0;
  }
}

@keyframes desktop_menu {
  from {bottom: 0px; opacity:0;}
  to {bottom:0; opacity:1;}
}
@-webkit-keyframes desktop_menu {
  from {bottom: 0px; opacity:0}
  to {bottom:0; opacity:1}
}

.appear-delay-2 {
  transition: transform 1s cubic-bezier(.165,.84,.44,1) .28s,opacity 1s cubic-bezier(.165,.84,.44,1) .38s;
}
.appear-animation{
  opacity: 0;
  transform: translateY(60px);
}
.js-drawer-open-desktop {
  -webkit-animation-name: desktop_menu;
  -webkit-animation-duration: 0.2s;
  animation-name: desktop_menu;
  animation-duration: 0.2s;
  transition: all 0.5s;
  width: 100%;
  display: block;

  .appear-animation {
    opacity: 1!important;
    transform: translateY(0)!important;
  }
}
.js-drawer-close{
  -webkit-animation-name: shadow_back;
  -webkit-animation-duration: 0.8s;
  animation-name: shadow_back;
  animation-duration: 0.8s;
  transition: all 0.5s;
  width: 0px;
}

.div_on_scroll{
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.8s;
  animation-name: animate;
  animation-duration: 0.8s;
  transition: all 0.5s;
}
@-webkit-keyframes animate {
  from {
    bottom: -50px; 
    opacity: 0;
  }
  to {
    bottom: 0px; 
    opacity: 1;
  }
}
@keyframes animate {
  from {
    bottom: -50px; 
    opacity: 0;
  }
  to {
    bottom: 0px; 
    opacity: 1;
  }
}

.loadAnimate{
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.9s;
  animation-name: animate;
  animation-duration: 0.9s;
  transition: all 0.9s;
}
@-webkit-keyframes animate {
  from {
    bottom: -50px; 
    opacity: 0;
  }
  to {
    bottom: 0px; 
    opacity: 1;
  }
} 
@-webkit-keyframes animate {
  from {
    bottom: -50px; 
    opacity: 0;
  }
  to {
    bottom: 0px; 
    opacity: 1;
  }
}